// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tags .card h2 {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 25%;
}

.tags img,
.tag img {
  display:block;
  width:100% \9;
  max-width:100%;
  height:auto
}

.tags, .destination {
  margin: 80px 0;
}

.tag h2, .tag .card h2, .destination h2, .destination p {
  padding: 0 20px 0;
}

.tag .card p {
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 300;
  -webkit-box-orient: vertical;
  padding: 0 20px 20px;
}